<div class="content">
  <div class="item-style">
    <%= render "public/users/profile-card", user: @article.user %>
    <div class="article-link">
      <% if @article.is_visible %>
        <%= link_to "投稿を「非表示」にする", admin_article_path(@article.id, article: {is_visible: false}), method: :put, class: "btn btn-right btn-edit-article btn-green" %>
      <% else %>
        <%= link_to "投稿を「表示」する", admin_article_path(@article.id, article: {is_visible: true}), method: :put, class: "btn btn-right btn-edit-article btn-green" %>
      <% end %>
      <%= link_to "投稿を完全削除する", admin_article_path, method: :delete, class: "btn btn-right btn-edit-article btn-red" %>
    </div>
    <div class="article-show-flex">
      <div class="article-left">
        <table>
          <tbody>
            <tr>
              <td><%= attachment_image_tag @article, :article_image, fallback: "no_image.png", class: "article_show_img"%></td>
            </tr>
            <tr>
              <td><h3><i class="fas fa-volume-up"></i> 投稿者から</h3></td>
            </tr>
            <tr>
              <td><p><%= @article.message %></p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="article-right">
        <table>
          <tbody>
            <tr>
              <th>表示状態</th>
              <td>
                <% if @article.is_visible == true %>
                  <p class="text-green">表示中</p>
                <% else %>
                  <p class="text-red">非表示中</p>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>品種名</th>
              <td><%= @article.cultivar_name %></td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td><%= extract_article_prefecture_name(@article) %></td>
            </tr>
            <tr>
              <th>市区町村</th>
              <td><%= extract_article_municipality_name(@article) %></td>
            </tr>
            <tr>
              <th>難易度</th>
              <td><%= level_content(@article) %></td>
            </tr>
            <tr>
              <th>カテゴリ</th>
              <td><%= category_content(@article) %></td>
            </tr>
            <tr>
              <th>時期</th>
              <td><%= season_content(@article) %></td>
            </tr>
            <tr>
              <th>肥料</th>
              <td><%= fertilizer_existence_content(@article) %></td>
            </tr>      <tr>
              <th></th>
              <td><%= @article.fertilizer_info %></td>
            </tr>
            <tr>
              <th>場所</th>
              <td><%= place_content(@article) %></td>
            </tr>
            <tr>
              <th>条件</th>
              <td><%= condition_content(@article) %></td>
            </tr>
            <tr>
              <th>開始時</th>
              <td><%= state_at_start_content(@article) %></td>
            </tr>
            <tr>
              <th>タグ</th>
              <td>
                <% if @tags.present? %>
                  <% @tags.each do |tag| %>
                      <%= link_to "#{tag.name}(#{tag.count})", search_articles_path(tag: tag.name), class: "article-show-tag-content" %>
                  <% end %>
                <% else %>
                  登録されているタグはありません。
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="comments-wrap">
      <div class="title">
        <h2><i class="fas fa-comment-dots"></i> コメント</h2>
      </div>
      <% if @comments.any? %>
        <%= render "public/comments/comment-content", comments: @comments %>
      <% else %>
        <h4 style="margin-left: 50px;">表示するコメントがありません。</h4>
      <% end %>
    </div>
  </div>
</div>
