<%= form_with model: article, local: true do |f| %>

  <!--画像-->
  <div class="field">
    <span class="badge gray-optional">任意</span>
    <%= f.label :article_image, "画像" %>
    <%= f.attachment_field :article_image, autofocus: true, autocomplete: "article_image" %>
  </div>

  <!--品種名-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :cultivar_name, "品種名" %>
    <%= f.text_field :cultivar_name, autofocus: true, autocomplete: "cultivar_name", class: "item" %>
  </div>
  <div class="error-msg error-msg-cultivar_name"></div>

  <!--都道府県-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :prefecture_id, "都道府県" %>
    <%= f.collection_select :prefecture_id, prefectures, :id, :name, prompt: "選択してください" %>
  </div>

  <!--市区町村-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :municipality_id, "市区町村" %>
    <%= f.collection_select :municipality_id, municipalities, :id, :municipality_name, prompt: "選択してください" %>
  </div>

  <!--難易度-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :level, "難易度" %>
    <%= f.select :level, [["とても難しい",1],["難しい",2],["普通",3],["簡単",4],["とても簡単",5]], prompt: "選択してください", selected: 3 %>
  </div>

  <!--カテゴリ-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :category, "カテゴリ" %>
    <%= f.radio_button :category, :vegetable, checked: true %>
    <%= f.label :category, "野菜", value: :vegetable, class: "article-form-raddio-label" %>
    <%= f.radio_button :category, :fruit %>
    <%= f.label :category, "果実", value: :fruit, class: "article-form-raddio-label" %>
    <%= f.radio_button :category, :plant %>
    <%= f.label :category, "草木", value: :plant, class: "article-form-raddio-label" %>
    <%= f.radio_button :category, :flower %>
    <%= f.label :category, "花", value: :flower, class: "article-form-raddio-label" %>
    <%= f.radio_button :category, :succulent %>
    <%= f.label :category, "多肉", value: :succulent, class: "article-form-raddio-label" %>
  </div>

  <!--時期-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label "時期" %>
    <div class="season-content">
      <%= f.collection_check_boxes :season_ids, seasons, :id, :month do |s| %>
        <%= content_tag(:div, s.check_box + " " + s.label, class: "article-season-check") %>
      <% end %>
    </div>
  </div>

  <!--肥料-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :fertilizer_existence, "肥料" %>
    <%= f.radio_button :fertilizer_existence, :true, checked: true %>
    <%= f.label :fertilizer_existence, "あり", value: true, class: "article-form-raddio-label" %>
    <%= f.radio_button :fertilizer_existence, :false %>
    <%= f.label :fertilizer_existence, "なし", value: false, class: "article-form-raddio-label" %>
  </div>

  <p class="fertilizer-info-text">※「あり」を選択された方は、肥料の詳細を記入してください。</p>

  <div class="field">
    <%= f.text_field :fertilizer_info, autofocus: true, autocomplete: "fertilizer_info", class: "item fertilizer-info-form" %>
  </div>

  <!--場所-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :place, "場所" %>
    <%= f.radio_button :place, :indoor, checked: true %>
    <%= f.label :place, "屋内", value: :indoor, class: "article-form-raddio-label" %>
    <%= f.radio_button :place, :outdoor %>
    <%= f.label :place, "屋外", value: :outdoor, class: "article-form-raddio-label" %>
    <%= f.radio_button :place, :veranda %>
    <%= f.label :place, "ベランダ", value: :veranda, class: "article-form-raddio-label" %>
  </div>

  <!--条件-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :condition, "条件" %>
    <%= f.radio_button :condition, :pot, checked: true %>
    <%= f.label :condition, "鉢", value: :pot, class: "article-form-raddio-label" %>
    <%= f.radio_button :condition, :ground %>
    <%= f.label :condition, "地植え", value: :ground, class: "article-form-raddio-label" %>
    <%= f.radio_button :condition, :greenhouse %>
    <%= f.label :condition, "ハウス", value: :greenhouse, class: "article-form-raddio-label" %>
  </div>

  <!--開始時-->
  <div class="field">
    <span class="badge red-required">必須</span>
    <%= f.label :state_at_start, "開始時" %>
    <%= f.radio_button :state_at_start, :seed, checked: true %>
    <%= f.label :state_at_start, "種から", value: :seed, class: "article-form-raddio-label" %>
    <%= f.radio_button :state_at_start, :seedling %>
    <%= f.label :state_at_start, "苗から", value: :seedling, class: "article-form-raddio-label" %>
    <%= f.radio_button :state_at_start, :bulb %>
    <%= f.label :state_at_start, "球根から", value: :bulb, class: "article-form-raddio-label" %>
    <%= f.radio_button :state_at_start, :complete %>
    <%= f.label :state_at_start, "完成形", value: :complete, class: "article-form-raddio-label" %>
  </div>

  <!--タグ-->
  <div class="field">
    <span class="badge gray-optional">任意</span>
    <%= f.label :tag_list, "タグ"%>
    <%= f.text_field :tag_list, value: article.tag_list.join(","), class: "tag_form tagit-hidden-field", name: "article[tag_list]", id: "article_tag_list" %>
  </div>

  <!--メッセージ-->
  <div class="field">
    <span class="badge gray-optional">任意</span>
    <%= f.label :message, "あなたからのメッセージ" %>
    <%= f.text_area :message, autofocus: true, autocomplete: "message", class: "item area" %>
  </div>


  <div class="actions">
    <%= f.submit "投稿する", class: "btn btn-green" %>
  </div>

<% end %>

<script>
// 品種名バリデーション
  $('#article_cultivar_name').blur(function() {
    const cultivar_name = document.querySelector('#article_cultivar_name');
    const err_cultivar_name_msg = document.querySelector('.error-msg-cultivar_name');
    if(!cultivar_name.value){
      err_cultivar_name_msg.textContent = '品種名は入力必須項目です。';
      cultivar_name.classList.add('error-form');
    } else {
      if(cultivar_name.value.length > 21){
        err_cultivar_name_msg.textContent = '品種名は21文字以内で入力してください。';
        cultivar_name.classList.add('error-form');
      }else{
      err_cultivar_name_msg.textContent = '';
      cultivar_name.classList.remove('error-form');
      }
    }
  });
</script>

