<% if articles.present? %>
  <% articles.each do |article| %>
    <% if article.is_delete == false %>
      <div class="card-wrapper">
        <%= link_to article_path(article) do %>
          <div class="card-img">
            <%= attachment_image_tag article, :article_image, fallback: "no_image.png", class: "card-index-img" %>
          </div>
        <% end %>
        <div class="card-title">
          <h5><%= article.cultivar_name %></h5>
          <% if article.level == "1" %>
            <div class="level-icon level1-icon">激</div>
          <% elsif article.level == "2" %>
            <div class="level-icon level2-icon">難</div>
          <% elsif article.level == "3" %>
            <div class="level-icon level3-icon">並</div>
          <% elsif article.level == "4" %>
            <div class="level-icon level4-icon">易</div>
          <% elsif article.level == "5" %>
            <div class="level-icon level5-icon">甘</div>
          <% end %>

          <% if article.category == "vegetable" %>
            <div class="category-icon category-vegetable-icon"><i class="fas fa-carrot"></i></div>
          <% elsif article.category == "fruit" %>
            <div class="category-icon category-fruit-icon"><i class="fas fa-apple-alt"></i></div>
          <% elsif article.category == "plant" %>
            <div class="category-icon category-plant-icon"><i class="fas fa-tree"></i></div>
          <% elsif article.category == "flower" %>
            <div class="category-icon category-flower-icon"><i class="fas fa-hand-holding-heart"></i></div>
          <% end %>

          <% if article.season == "spring" %>
            <div class="season-icon season-spring-icon"></div>
          <% elsif article.season == "summer" %>
            <div class="season-icon season-summer-icon"></div>
          <% elsif article.season == "autumn" %>
            <div class="season-icon season-autumn-icon"></div>
          <% elsif article.season == "winter" %>
            <div class="season-icon season-winter-icon"></div>
          <% end %>
        </div>
        <div class="card-footer-wrapper">
          <% if user_signed_in? && current_user != article.user %>
            <% if current_user.favorite?(article) %>
              <%= link_to "\uf004 #{article.favorites.count}", article_favorite_path(article.id), method: :delete, class: "fas" %>
            <% else %>
              <%= link_to "\uf004 #{article.favorites.count}", article_favorites_path(article.id), method: :post, class: "far" %>
            <% end %>
          <% end %>
          <div class="card-footer-text">
            <%= article.user.account_name %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="page-item">
    <%= paginate articles %>
  </div>
<% else %>
  <h3>投稿がありません。ヘッダーの投稿するリンクから投稿しよう！</h3>
<% end %>
