<div class="top-content">
  <div class="title">
    <h2><i class="fas fa-crown"></i> ランキング</h2>
  </div>
  <div class="article-index-style ranking-flex">
    <div class="ranking-left">
      <div class="top-title index-subtitle">
        <h3><i class="fas fa-tag"></i> 人気のタグ Top10</h3>
      </div>
      <div class="article-index-tags-wrapper">
        <div class="article-index-tags-contents">
          <% if @tags.present? %>
            <% @tags.each.with_index(1) do |tag, i| %>
              <div class="tag-flex">
                <div class="tag-ranking-num"><p><%= "No.#{i}" %></p></div>
                <%= link_to "#{tag.name} (#{tag.taggings_count})", search_articles_path(tag: tag.name), class: "article-index-tag-content" %>
              </div>
            <% end %>
          <% else %>
            <h4 class="no-tag">表示できるタグ <i class="fas fa-tag"></i> がありません。</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ranking-right">
      <div class="favorite-ranking-wrapper">
        <div class="top-title index-subtitle">
          <h3><i class="fab fa-gratipay"></i> みんなが「いいね」した記事 Top3</h3>
        </div>
        <div class="favorite-ranking-content">
          <%= render "public/articles/ranking-article-card", articles: @favorite_articles %>
        </div>
      </div>
      <div class="view-ranking-wrapper">
        <div class="top-title index-subtitle">
          <h3><i class="fas fa-eye"></i> みんなが閲覧した記事 Top3</h3>
        </div>
        <div class="view-ranking-content">
          <%= render "public/articles/ranking-article-card", articles: @most_view_articles %>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <h2><i class="fas fa-feather-alt"></i> みんなの投稿</h2>
  </div>
  <div class="article-index-style article_index_flex">
    <div class="article_index_left">
      <div class="search-subtitle">
        <h3><i class="fas fa-search-plus"></i> 絞り込み検索</h3>
      </div>
      <%= render "search-form", q: @q, prefectures: @prefectures, municipalities: @municipalities, seasons: @seasons %>
    </div>
    <div class="article_index_right">
      <% if current_admin %>
        <%= render "admin/articles/admin-article-card", articles: @articles %>
      <% else %>
        <%= render "public/articles/public-article-card", articles: @articles %>
      <% end %>
    </div>
  </div>
</div>