<div class="content">
  <div class="title">
    <h2><i class="fas fa-crown"></i> ランキング</h2>
  </div>
  <%= render "public/articles/ranking-article-card", articles: @favorite_articles %>
  <%= render "public/articles/ranking-article-card", articles: @most_view_articles %>
  <div class="title">
    <h2><i class="fas fa-feather-alt"></i> みんなの投稿</h2>
  </div>
  <div class="item-style article_index_flex">
    <div class="article_index_left">
      <%= render "search-form", q: @q, prefectures: @prefectures, municipalities: @municipalities %>
    </div>
    <div class="article_index_right">
      <% if current_admin %>
        <%= render "admin/articles/admin-article-card", articles: @articles %>
      <% else %>
        <%= render "public/articles/public-article-card", articles: @articles %>
      <% end %>
    </div>
  </div>
</div>