<div class="content">
  <div class="title-btn-flex">
  <div class="title with-btn-title">
    <h2><i class="fas fa-user"></i> プロフィール</h2>
  </div>
  <%= link_to "プロフィールを編集する", edit_admin_user_path(@user.id), class: "btn btn-right btn-green btn-profile-edit" %>
  </div>
  <div class="item-style">
    <%= render "public/users/profile-card", user: @user %>
      <table class="small-table" >
        <tr>
          <th>ステータス</th>
          <td><%= user_status(@user) %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @user.full_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @user.full_name_kana %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @user.post_code_add_mark %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @user.address %></td>
        </tr>
      </table>
  </div>
  <div class="title-btn-flex title-btn-group-flex">
    <div class="title with-btn-title">
      <h2><i class="fas fa-feather-alt"></i> <%= @user.account_name %>の投稿一覧</h2>
    </div>
    <div class="user-show-link-group">
      <%= link_to "投稿一括表示(表示ユーザのみ)", visible_update_all_admin_articles_path(@user.id), method: :patch, class: "btn btn-green admin-visible-btn" %>
      <%= link_to "投稿一括削除(表示ユーザのみ)", destroy_all_admin_articles_path(@user.id), method: :delete, class: "btn btn-red admin-visible-btn" %>
    </div>
  </div>
  <div class="item-style user-articles-flex">
    <%= render "admin/articles/admin-article-card", articles: @articles %>
  </div>
</div>