<div class="content">
  <div class="title">
    <h2><i class="fas fa-sign-in-alt"></i> ログイン</h2>
    <p>※ 会員登録がお済みでない方は、 <%= link_to "こちら", new_registration_path(resource_name) %> から会員登録してください。</p>
  </div>
  <div class="form-style">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <!--メールアドレス-->
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "item" %>
      </div>

    　<!--パスワード-->
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "item" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-green" %>
      </div>
    <% end %>

    <div class="actions">
      <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name), class: "btn btn-gray" %>
    </div>

    <p>
      ※ ポートフォリオ閲覧用のメールアドレス、パスワードを下記に記載しております。</br>
      &emsp;&nbsp;コピー＆ペーストした後、上の入力欄に入力してください。
    </p>
  </div>
</div>
