<div class="content">
  <div class="title-btn-flex">
    <div class="title with-btn-title">
      <h2><i class="fas fa-user"></i> プロフィール</h2>
    </div>
    <% if user_signed_in? && current_user != @user %>
      <%= render "public/relationships/follow-btn", user: @user %>
    <% end %>
    <% if @user.account_name != "guestuser" && current_user == @user %>
      <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-right btn-green" %>
    <% end %>
  </div>
  <div class="item-style">
    <%= render "public/users/profile-card", user: @user %>
    <% if user_signed_in? && current_user == @user %>
      <table class="small-table" >
        <tr>
          <th>氏名</th>
          <td><%= @user.full_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @user.full_name_kana %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @user.post_code_add_mark %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @user.address %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="title">
    <% if current_user == @user %>
      <h2><i class="fas fa-feather-alt"></i> あなたの投稿一覧</h2>
    <% else %>
      <h2><i class="fas fa-feather-alt"></i> <%= @user.account_name %>の投稿一覧</h2>
    <% end %>
  </div>
  <div class="item-style user-articles-flex">
    <%= render "public/articles/public-article-card", articles: @articles %>
  </div>
</div>

